.App {
  text-align: center;
}

.App-logo {
  height: 120px;
}

.App-header {
  background-color: #034B73;
  height: auto;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-seed {
  max-width: 90%;
}
